@media screen and (max-width:750px ){
	.row .col-60, .row .col-30, .row .col-25, .row .col-50{
		width: 100%;
		display: block;
    float: none;

}

.brand {
  margin-left: -40px;
}
a.button {
  font-size: 15px;
}

.sticky-nav .brand{
    margin-left: 0px;
}

  #about .col-30{
    padding: 10px;
    margin-right: 10px; 
  } 

#portfolio .col-25>img {

  max-width: 100px;

}

#about .col-30>img {

  margin-left: -60px;

}


	footer .col-60, footer .col-30 {
		padding:5px;
		text-align: center;
	}
  .row .col-50 .side-banner,.row .col-50 {
    height: 50%;

  } 
}
@media and screen (max-width:1029px){
  #about .col-30 img{
    width: 30%;

  }

}
@media and screen (max-width:1029px){
  #about .col-30 img{
    width: 30%;

  }

}

@media screen and (max-width: 600px){
	.nav  li a {
		display: none;
	}
	.nav a.icon {
		display:block;
		float: right;
		margin:40px 10px 0 0 ;
	}

 #header .header-container {
    background-color: rgba(0,0,0,0.6);
    z-index: 9999;
  }


}

@media screen and (max-width: 600px) {
 

  .header-text {
    float: none;
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 1;
 }
  .nav  ul li{
    width: 100%;
  }
  #header .brand {
    position: relative;
    z-index: 19;
  }

  #header .nav.responsive {
      background-color: rgba(0,0,0);
      position: relative;
      z-index: 9;
  }

  .nav.responsive li a {
  	display: block;

  	text-align: left;
  	float:none;
  	width: 30%;
  	color: #ffff;
     z-index: 999;
  }

  .nav.responsive{
  	float: none;
  	width: 100%;


  }
  .nav.responsive ul {
  	width: 100%;
background-color: rgb(0,0,0);


  }

}